<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top mb-4">
  <a class="navbar-brand" [routerLink]="['/landing']"><i class="fa fa-github 6x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home-search']" routerLinkActive="router-link-active"
          appRepoHover>GitSearch</a></li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
