.card-header,
.card-footer {
  background: rgb(0, 0, 0);
  color: #fff;
}

.card-footer {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.card-body,
.list-group-item {
  background: #444;
  color: #fff;
  border: 1px solid #000;
}

img.card-img-top {
  max-width: 150px;
  max-height: 150px
}

.card-footer span {
  margin: 0 4px;
  padding: 5px 3px;
}

i.fa.fa-map-marker,
i.fa.fa-building-o {
  color: #1ebba3;
  padding-right: 3px;
}

i.fa.fa-github {
  padding-right: 4px;
  color: #1ebba3;

}

.badge-info {
  background: #1ebba3;
}

small.repo-title {
  margin-top: 1.4rem;
  color: #1ebba3;
  font-size: 1.2rem;
}

.repo-cols p {
  color: #fff;
}
