<div class="container">
  <app-search-form (onQueryString)="onQuerySearch($event)"></app-search-form>

  <div class="user-card" *ngIf="_user">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" [src]="_user?.avatar_url" alt="">
        <div class="card-body">
          <h5 class="card-title">{{_user?.name}}</h5>
          <p class="card-text">{{_user?.location}}
            <br>
            {{_user?.company}}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div><!-- card body -->
    </div> <!-- card deck -->
  </div><!-- user-card -->

</div>
<!-- container -->
