/* You can add global styles to this file, and also import other style files */
body,
html {
  background: url(./assets/astronomy-colors-constellation-2646380.jpg);
  background-size: cover;
  overflow-x: hidden;
  color: #505962;
}

/* ========navigation============ */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;

}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;

}

.navbar-dark .navbar-nav .navbar-link {
  color: #fff;
  padding-top: .8rem;

}

.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link.active {
  color: #1ebba3;

}
